@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Arvo";
    src: url("../fonts/Arvo/Arvo-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Arvo";
    src: url("../fonts/Arvo/Arvo-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}


